.gogo-header {
    height:50px;
    background-color: var(--themeColor);
    display:flex;
    justify-content: center;
    align-items: center;
    .icon.icon-menu {
        
    }
  
    .gogo-header-text {
  
    }
  
    .icon.icon-sosoh {
  
    }
  }